# History files
\.vscode*
\.pytest_cache*

\python\.pytest_cache*
\python\.vscode*


\teams\.pytest_cache*
\teams\.vscode*

*__pycache__*
*.exercism*
\.exercism_venv*


\teams\teams\john-santerre-center-for-students-who-can-t-program-good-and-wanna-learn-to-do-other-stuff-good-too\python\.pytest_cache*
